<h2>FORMULARIO DE CARGA DE PRODUCTOS</h2>

<strong>Titulo:</strong><input type="text" name="title" id="title"/>
<strong>Descripción: </strong> <input type="text" name="description" id="description"/>
<strong>Precio: </strong> <input type="text" name="price" id="price"/>
<button type="button" id="addButton">AGREGAR</button>


<div id="loadProducts"></div>



<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>